.primary-link-holder {
  display: flex;
  justify-content: center;
}

a.primary {
  margin-top: 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  padding: 16px;
  max-width: 450px;
  width: 100%;
}

a.primary:hover {
  background-color: #f0faff;
}

a.primary:active {
  background-color: #f0faff;
}

a.primary h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
}

.subheading {
	color: #555;
	font-weight: lighter;
	font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0;
}