button {
  border: 1px solid black;
  background-color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

button:hover {
  background-color: #eee;
}

button:active {
  background-color: #48b1e1;
  color: #000;
}

input[type='text'], input[type='email'] {
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  padding: 5px 3px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid black;
}

input[type='text']:hover, input[type='email']:hover {
  background-color: #eee;
}

input[type='text']:focus, input[type='email']:focus {
  background-color: #f0faff;
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  width: 100%;
  border: 1px solid black;
}

textarea:hover {
  background-color: #eee;
}

textarea:focus {
  background-color: #f0faff;
}

.contact label {
  margin-right: 5px;
}

.check-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.check-list li {
  margin-bottom: .4em;
}

.check-list label {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}

.check-list input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-list label .checkmark {
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  border: 1px solid black;
  margin-right: .4em;
}

.check-list label:hover .checkmark {
  background-color: #eee;
}

.check-list input:checked ~ .checkmark {
  background-color: #48b1e1;
}

.check-list label .text {
  display: block;
}

#availability {
    border-collapse: collapse;
}

#availability td {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

#availability th {
  border-bottom: 1px solid #000;
  border-right: 0px solid #fff;
  padding: 0;
  margin: 0;
  width: 200px;
  border-collapse: collapse;
}

#availability th:nth-child(1) {
  border: 0;
}

#availability th {
  padding: 10px;
}

#availability td {
  width: 20px;
  height: 20px;
}

#availability td {
  text-align: right;
}

#availability td:nth-child(1) {
  padding: 10px;
  border: 0px;
  border-right: 1px solid black;
  align: right;
}

#availability td input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#availability td input[type='checkbox'] + label {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    background-color: #fff;
}

#availability td input[type='checkbox'] + label:hover {
    background-color: #eee;
}

#availability td input[type='checkbox']:checked + label {
    background-color: #48b1e1;
}

#skill-list {
/*  list-style: none;
  margin: 0;
  padding: 0;
*/}

#skill-list li {
  margin-top: 5px;
  background-color: white;
}

.remove-skill-button:active {
  background-color: red;
}

#sf-map {
  background-color: lightblue;
  display: block;
  width: 100%;
}

#district-checkboxes {
  width: 0;
  height: 0;
  overflow: hidden;
}

#district-checkboxes input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.district {
  stroke: black;
  stroke-width: 1px;
  fill: white;
}

.district:hover {
  fill: #eee;
}

.district.park:hover {
  fill: #d4edc7;
}

.district.selected {
  fill: #48b1e1;
}

.district.park.selected {
  fill: #48b1e1;
}

