button {
  border: 1px solid black;
  background-color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

button:hover {
  background-color: #eee;
}

button:active {
  background-color: #48b1e1;
  color: #000;
}

input[type='text'], input[type='email'] {
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  padding: 5px 2px;
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  font-size: 1em;
  width: 100%;
  max-width: 600px;
}

input[type='checkbox'] {
  /*height: 20px;*/
  /*width: 20px;*/
  /*vertical-align: text-top;*/
  /*margin: 3px;*/
}

label {
  /*background-color: red;*/
}

.check-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.check-list li {
  margin-bottom: .2em;
}

#availability {
    border-collapse: collapse;
}

#availability td {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

#availability th {
  border-bottom: 1px solid #000;
  border-right: 0px solid #fff;
  padding: 0;
  margin: 0;
  width: 200px;
  border-collapse: collapse;
}

#availability th:nth-child(1) {
  border: 0;
}

#availability th {
  padding: 10px;
}

#availability td {
  width: 20px;
  height: 20px;
}

#availability td {
  text-align: right;
}

#availability td:nth-child(1) {
  padding: 10px;
  border: 0px;
  border-right: 1px solid black;
  align: right;
}

#availability td input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#availability td input[type='checkbox'] + label {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    background-color: #fff;
}

#availability td input[type='checkbox'] + label:hover {
    background-color: #eee;
}

#availability td input[type='checkbox']:checked + label {
    background-color: #48b1e1;
}

#skill-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#skill-list li {
  margin-top: 5px;
  background-color: white;
}

.remove-skill-button:active {
  background-color: red;
}

#sf-map {
  background-color: lightblue;
  display: block;
  width: 100%;
  height: 500px;
}

.district {
  stroke: black;
  stroke-width: 1px;
  fill: white;
}

.district:hover {
  fill: #eee;
}

.district.selected {
  fill: #48b1e1;
}
