body {
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  margin: 0;
}

.center-h-container {
  display: flex;
  padding: 0em 1em;
  justify-content: center;
}

.centered-h {
  flex: 1;
  max-width: 900px;
}

.center-v-container {
  display: flex;
  align-items: center;
}

header {
  border-bottom: solid 3px;
  background-color: #f0faff;
}

header a {
  font-family: 'Slabo 27px', serif;
}

header a.home {
  font-size: 2.3em;
  font-weight: bold;
  display: inline-block;
}

nav a {
  font-size: 1.2em;
}

header a:link {
  color: black;
  text-decoration: none;
}

header a:visited {
  color: black;
  text-decoration: none;
}

header a:hover {
  color: #4b616b;
  text-decoration: none;
}

header a:active {
  color: black;
  text-decoration: none;
}

nav {
  flex: 2;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

nav li {
  margin-left: 0.8em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
}

#content {
  padding-top: 10px;
}